<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<link rel="stylesheet" href=".assets.style.css" type="text/css" />
		<title>Eat Da Burger!</title>
		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="/models/burger.js"></script>
		 <img scr="https://www.123rf.com/photo_56805710_stock-vector-steak-burgers-with-fresh-vegetables-background-for-fast-food-design-with-seamless-cartoon-pattern-of.html" alt="burger" height="200" width="200" id="imageCenter">
	</head>
	<body>
		{{{ body }}}
	</body>
</html> 